:root{
  /*  COLORS
  ----------------------------------- */
  /* 
    colors like goldenrod have a similar contrast on black and white
  */
  --accent: goldenrod;
  --external: OliveDrab;
  --wikidata: #0645ad;

  --light: whitesmoke;
  --grey: #eaeaea;
  --dark: #d0d0d0;
  --back: white;
  --text: black;

  accent-color: var(--text);

  /*  BOXES
  ----------------------------------- */
  --border: 1px solid currentColor;
  --ss: 0.6rem;
  --s: 1.2rem;
  --bs: 2.4rem;

  /*  TYPOGRAPHY
  ----------------------------------- */
  /* 
    3 big line equal 4 normal line 
  */
  --lh: 1.4;
  --lh-up: 1;
  --fs-up: calc(calc(var(--lh) * 1rem * 4) / calc(var(--lh-up) * 3));
  --fs-medium: 1.35rem;
  --fs-lettrine: 2.7em;
}

@font-face {
  font-family: ready;
  src: url('fonts/ReadyActive-Light.woff2');
}

/* 
    GLOBAL STYLING
    ------------------------------------------------------------
*/

html, body {
    margin: 0;
    scroll-behavior: smooth;
}
::selection{
  background-color: var(--dark);
}
::placeholder{
  color: var(--dark);
  opacity: 1;
}
body {
  line-height: var(--lh);
  font-family: sans-serif;
  background-color: var(--back);
  color: var(--text);
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3{
  margin: 0;
  font-size: var(--fs-up);
  line-height: var(--lh-up);
  font-weight: normal;
}
p{
  margin: 0;
}
iframe {
  display: block;
  border: none;
  width: 100%;
  min-height: 20vh;
  flex-grow: 1;
}

/* 
    SEMANTIC TYPOGRAPHIC STYLING
    ------------------------------------------------------------
*/

/* properties are mono-bold-lowercase */
.property{
  text-transform: lowercase;
  font-weight: bold;
  font-style: normal;
  font-family: monospace;
  font-size: 1rem;
}

/* description are serif-italic */
.description{
  font-family: serif;
  font-style: italic;
  max-width: 24em;
}

/* elit have lettrine */
/* and the logo */
.label, 
span[data-active]{
  /* 
    this allow :first-letter 
    but it changes the span back coloring size
    so we apply it to every label for uniformity
  */
  display: inline-block;
}


.label.elit::first-letter,
.main-title .el,
.picto{
  font-family: ready;
  -webkit-text-stroke: 0.5px currentColor;
  font-size: var(--fs-lettrine);
  line-height: 0;
}
.main-title .el{
  margin-left: -0.05em;
  letter-spacing: -0.15em;
}

.label.elit{
  /* 
    we need to add a margin at the top of the :first-letter
    but we do it on every label for uniformity
  */
  margin-top: 0.6em;
}
.header{
  padding-top: calc(0.6 * var(--fs-up) + var(--ss)) !important;
}

.main-title{
  margin-right: var(--s);
}

.main-title a{
  color: currentColor !important;
}

h1 .label{
  font-size: inherit;
}

/* instanceOf are touching and dark cell */
.instanceOf li:not(.empty){
  padding: 0 0.5em;
  border-radius: 3em;
  background-color: var(--dark);
}
h2 .instanceOf{
  padding-left: 0.25em;
}

/* link and active state */
a{
  color: inherit;
  text-decoration: none;
}
a:hover,
summary:hover{
  color: var(--accent);
}
*[data-active],
*[open] summary{
  background: var(--accent) !important;
  color: var(--text) !important;
}

/* wikidata links are wikidata colored */
.wikidata a{
  background-color: var(--wikidata);
  color: white !important;
}

/* empty are faded out */
.empty{
  color: var(--dark);
}

/* for list of values in a claim in summary mode */
.sub-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: baseline;
  gap: 0 0.5rem;
  flex-wrap: wrap;
}
.sub-list li{
  white-space: nowrap;
}
.sub-list:not(.instanceOf) li:not(:last-of-type)::after{
  content: ', ';
}
.sub-list.empty:not(.instanceOf){
  display: none;
}
.instanceOf{
  gap: var(--ss) !important;
}
.index-title{
  white-space: nowrap;
  margin-top: 0 !important;
}
.index-title + .instanceOf{
  margin-top: var(--s);
}

/* 
    NAVIGATION
    ------------------------------------------------------------
*/

.header,
.sub-header{
  display: flex;
  gap: var(--bs);
  align-items: center;

  box-sizing: border-box;
  border-bottom: var(--border);
  padding: var(--ss);
  position: relative;
}
.sub-header{
  background-color: var(--grey);
  align-items: start;
  justify-content: space-between;
}
.header{
  z-index: 999999 !important;
}
.sub-header h1{
  margin-top: var(--s);
}

nav {
  display: flex;
  gap: var(--s);
  align-items: baseline;
  flex-grow: 1;
  min-width: 0;
}
nav > a{
  border-bottom: var(--border);
  border-color: var(--accent);
}
nav > *{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav > form {
  overflow: visible;
}

.header select,
.header input,
.header label{
  min-width: auto;
  max-width: 18ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: var(--border);
  border-color: var(--accent);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: var(--lh);
  padding: 0.25em;
  background-color: white;
  cursor: pointer;
}
.header button{
  border: none;
  background: none;
}

form.lang{
  display: flex;
}
form.lang label{
  padding-right: var(--ss);
  border: none;
}


/* images in sub-header */
.images .small-item{
  flex: 0 0 auto;
}
.images .item-list{
  padding: 0;
}
.sub-header img{
  height: calc(var(--fs-up) * 8 * var(--lh-up));
}

/* when we have the header then an iframe */
body.header-main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 
    LISTS OF ITEMS
    ------------------------------------------------------------
*/

.index-container{
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

/* pagination system */
.pagination{
  height: 100vh;
  overflow: auto;

  position: sticky;
  z-index: 8;
  top: 0;
  box-sizing: border-box;
  padding: var(--ss);
  border-right: var(--border);
  overflow: auto;
}
.pagination ul{
  display: flex;
  flex-direction: column;
  gap: var(--ss);
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination .page-link{
  display: block;
  width: 3ch;
  height: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--grey);
  text-decoration: none;
}
.pagination li{
  /* show two pages and half behind current one */
  scroll-margin: 10.5ch;
}

/* the flexy lines */
.line{
  display: flex;
  gap: 0 var(--s);
  justify-content: space-between;
  align-items: start;
}
.line + .line{
  margin-top: var(--s);
  align-items: end;
}

/* 
    ELIT INDEX
    ------------------------------------------------------------
*/

/* the list of items */
.elit-index{
  padding: var(--bs);
  padding-right: 0;
  padding-top: var(--s);
}
.elit-index > * + *{
  margin-top: var(--s);
}
.elit-index > *{
  display: block;
}
.elit-index article{
  padding-right: var(--s);
  padding-bottom: var(--ss);
  border-bottom: var(--border);
  color: black;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--bs);
}
.elit-index .property{
  white-space: nowrap;
}
.second{
  display: flex;
  gap: var(--s);
}
.second > *{
  flex-grow: 1;
}
.second > *.empty{
  display: none;
}
.elit-index article h2{
  margin-top: var(--s);
}

.elit-index article::before{
  content: '';
  box-sizing: border-box;
  background: linear-gradient(to right, transparent, var(--accent));
  position: absolute;
  left: 100%;
  /* top: calc(-1 * var(--s)); */
  height: calc(var(--ss) * 0.5);
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
  transition: 2s all;
}
.elit-index article:hover::before{
  left: 0%;
  /* opacity: 0.35; */
  transition: 0.25s all;
}

/* 
    ENTITY INDEX
    ------------------------------------------------------------
*/

.entity-index{
  padding: var(--ss) var(--bs);
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: var(--ss);
}
.entity-index > *{
  flex: 0 0 auto;
  max-width: 36rem;
  background-color: var(--light);
  border-radius: var(--s);
  padding: var(--ss);
}
.entity-index h2{
  font-size: 1rem;
  line-height: var(--lh);
}
.entity-index .line{
  gap: 0.2em;
}
.entity-index .line + .line{
  margin-top: 0;
  display: block;
}
.entity-index .empty{
  display: none;
}


/*  
    INDIVIDUAL ITEMS PAGES 
    ------------------------------------------------------------
*/

.entity-container{
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  flex-grow: 1;
}
.entity-container.has-urls{
  grid-template-columns: repeat(2, 50%);
}
.entity-container > * + *{
  border-left: var(--border);
}

/*  
    LISTING CLAIMS
    ------------------------------------------------------------
*/


.claims-container h3{
  background-color: var(--light);
  font-size: 1rem;
  padding: var(--ss);
  /* border-bottom: var(--border); */
}
.claims-list{
  border-bottom: var(--border);
}
.claims-list{
  padding: var(--ss);
  position: relative;
  box-sizing: border-box;

  display: flex;
  align-items: stretch;
  align-content: start;
  flex-wrap: wrap;
  gap: var(--s);
}
.claims-list > *{
  flex: 1 1 auto;
}
/* .claims-list.top-list{
  display: block;
}
.claims-list.top-list .claim{
  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: var(--s);
}
.claims-list.top-list .claim + .claim{
  margin-top: var(--ss);
}
.claims-list.top-list .object-index{
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
} */

/* inside the claims */
.claim h2{
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
}


/* arrow systems */
.claims-list:not(.reverse-list) a:not(.property) h2::after,
.reverse-list a:not(.property) h2::before,
h2.linked span::after,
.description a::after,
.arrow,
.picto,
.instanceOf > li > a::after{
  display: inline;
  cursor: pointer;
  font-family: ready;
  -webkit-text-stroke: 1px currentColor;
  font-size: 2em;
  line-height: calc(var(--lh) * 0.5rem);
  font-style: normal;
}

h2.linked span::after,
.description a::after{
  content: '🌐';
  font-size: 2em;
  color: var(--external);
  padding-left: 0.25em;
}
.entity-index h2 span.linked::after,
.entity-index .description a::after{
  -webkit-text-stroke: 0.5px;
}

.instanceOf > li > a::after{
  font-size: 3em;
  content: '*';
  line-height: 0;
  position: relative;
  top: 0.05em;
  color: var(--accent);
  vertical-align: middle;
}
.claims-list:not(.reverse-list) a:not(.property) h2::after{
  content: '→';
  color: var(--accent);
}
.reverse-list a:not(.property) h2::before{
  content: '←';
  color: var(--accent);
}
.shallow h2::after,
.shallow h2::before,
.shallow .arrow,
.shallow a:hover,
a.shallow:hover,
.shallow-direct{
  color: var(--wikidata) !important;
}
.description a:hover{
  color: var(--external) !important;
}


.claim.contain-work a:not(.property) h2::before{
  display: block;
  float: left;
  line-height: calc(var(--lh) * 1rem);
  padding-right: 0.25em;
}

/*  
    EXTERNAL IFRAME
    ------------------------------------------------------------
*/
.entity-frames ul{
  list-style: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.entity-frames ul li{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 36rem;
}

/* object loading strategy */
.entity-frames a{
  display: block;
  padding: var(--ss);

  display: flex;
  gap: var(--ss);
  background-color: var(--external);
}
.entity-frames a:hover{
  color: currentColor;
}
.entity-frames .label{
  flex: 0 0 auto;
}
.entity-frames .url{
  color: white;
  flex: 0 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entity-frames li{
  border-bottom: var(--border);
}

/* when it works */
.entity-frames .loaded object{
  visibility: visible;
  display: block;
  flex-grow: 1;
  width: 100%;
  min-height: 24em;
  max-height: 36rem;
  box-sizing: border-box;
  border: var(--ss) inset var(--external);
  outline: none;
}

/* when it breaks*/
.entity-frames .not-loaded object{
  display: none;
}
.entity-frames .not-loaded{
  flex-grow: 0;
}

/*  
    PROPERTY LIST
    ------------------------------------------------------------
*/

/* .property-list{
  padding: var(--ss) var(--s);
}
.property-list article{
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--s);
  padding-bottom: var(--ss);
  margin-bottom: var(--ss);
} */

/* 
    ENTITIES GROUPED BY PROPERTIES INSIDE OF DETAILS
    ------------------------------------------------------------
*/

/* .property-container{
  display: flex;
  flex-direction: column;
}
.property-container > *{
  flex-grow: 1;
} 

.details-list{
  display: flex;
  flex-direction: column;
}
.detail-container{
  flex-grow: 1;
  position: relative;
}

.details-list details[open]{
  position: absolute;
  inset: 0;
  background-color: white;
}
.details-list:has(details[open]){
  overflow: hidden;
}
.details-list iframe{
  height: calc(100% - calc(var(--ss) * 2) - calc(var(--lh) * 1em));
}
summary{
  cursor: pointer;
  padding: var(--ss) var(--s);
  border-bottom: var(--border);
  border-bottom-style: dotted;
}
details[open] summary{
  border-bottom: none;
}
*/

/*
    HOMEPAGE
    ------------------------------------------------------------
*/

/* .message-homepage {
  font-size: var(--fs-medium);
  margin-bottom: calc(var(--fs-medium) * var(--lh));
}

.item-list .message-homepage + a article {
  padding-top: var(--ss);
	border-top: var(--border);
}

.message-homepage p {
  max-width: 60ch;
  margin-bottom: calc(var(--fs-medium) * var(--lh));
}

.message-homepage p a {
  text-decoration: underline;
}

.message-homepage form,
.message-homepage input,
.message-homepage button {
  font-size: inherit;
  display: inline;
} */

/*
    FLAT PAGE
    ------------------------------------------------------------
*/
.page-content {
  font-size: var(--fs-medium);
  max-width: 80ch;
  padding: var(--s);
}

.page-content h2 {
  margin-bottom: var(--ss);
}

.page-content p {
  max-width: unset;
  margin-bottom: calc(var(--fs-medium) * var(--lh));
}

/* 
    IMAGES IN PREVIEW LISTING
    ------------------------------------------------------------
*/

/* .title-cover{
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.item-list .images{
  display: flex;
  align-items: flex-end;
  gap: var(--ss);
  margin-top: calc(var(--fs-up) * -1.5 * var(--lh-up));
  position: relative;
  z-index: -1;

  display: none;
}
.item-list .more-image{
  font-size: var(--fs-up);
  line-height: var(--lh-up);
}
.item-list img{
  height: calc(var(--fs-up) * 4 * var(--lh-up));
}
.item-list .no-image{
  height: calc(var(--fs-up) * 4 * var(--lh-up));
  width: calc(var(--fs-up) * 4 * var(--lh-up));
  box-sizing: border-box;
  border: var(--border);
} */