{% extends 'base.html' %}

{% block title %}{{super()}} · all{% endblock %}
{% block body_class %}header-main{% endblock %}

{% block body %}

  {% include 'partials/nav.html' %}

  <header class="sub-header">
    <h1>All <span class="label" data-active>{{ instanceOf }}</span></h1>
  </header>

  <iframe src="{{baseURL}}"></iframe>

{% endblock %}
