{% extends 'base.html' %}

{% block title %}{{super()}} · {{ item.label.text }}{% endblock %}
{% block body_class %}
  header-main
  {% for t in instanceOf %}{{t}}{% endfor %}
{% endblock %}


{% block body %}

{% include 'partials/nav.html' %}

<header class="sub-header">
  <h1><span class="label {% if 'work' in instanceOf %}work-label{% endif %}" data-active>{{ item.label.text }}</span></h1>
  <p class="description">{{ item.description.text }}</p>
  <!-- <a href="/reverse/{{ item.id }}">What links here?</a> -->
  {% if item.shallow == True %}
    <p>
      This is a shallow copy. Find more information on wikidata: <a href="https://daap.bannerrepeater.org/wiki/Item:{{item.id}}">https://daap.bannerrepeater.org/wiki/Item:{{item.id}}</a>
    </p>
  {% endif %}
</header>

<div class="item-container">

  <div class="claims-list">
    {% for grouped_claim in claims %}
      {% if grouped_claim.0.property.label.text != 'image' %}

      <div>
        <a class="property" href="/index/{{ grouped_claim.0.property.id[1:] }}">
            {{ grouped_claim.0.property.label.text }}
        </a>

        <div class="values">
          
          <ul class="sub-list">
            {% for claim in grouped_claim %}
            <li>
              {% if claim.type == 'wikibase-item' %}
                  <a href="/item/{{ claim.object.id[1:] }}">
                    {{ claim.object.label.text }}
                  </a>
      
                  {% if claim.object.description %}
                    <p class="description">{{ claim.object.description.text }}</p>
                  {% endif %}

              {% elif claim.type == 'localMedia' %}
                  <img src="https://daap.bannerrepeater.org/wiki/Special:Redirect/file/{{ claim.text|fileOriginalURL }}"/>
              {% else %}
                  <p class="description">{{ claim.text }}</p>
              {% endif %}

              {% if claim.qualifiers %}
                <div class="qualifier">
                  {% for qualifier in claim.qualifiers %}
                    <p>
                      {{ qualifier.property.label.text }} :
                      {% if qualifier.object %}
                        {{ qualifier.object.label.text }}
                      {% else %}
                        {{ qualifier.text }}
                      {% endif %}
                    </p>
                  {% endfor %}
                  </div>
              {% endif %}

            </li>

            {% endfor %}
          </ul>
        </div>
      </div>

      {% endif %}
    {% endfor %}
  </div>

  <div class="media-list">
    {% for grouped_claim in claims %}
      {% if grouped_claim.0.property.label.text == 'image' %}
          
        {% for claim in grouped_claim %}
        <div>
          {% if claim.type == 'wikibase-item' %}
              <a href="/item/{{ claim.object.id[1:] }}">
                {{ claim.object.label.text }}
              </a>
  
              {% if claim.object.description %}
                <p class="description">{{ claim.object.description.text }}</p>
              {% endif %}

          {% elif claim.type == 'localMedia' %}
              <img src="https://daap.bannerrepeater.org/wiki/Special:Redirect/file/{{ claim.text|fileOriginalURL }}"/>
          {% else %}
              <p class="description">{{ claim.text }}</p>
          {% endif %}

          {% if claim.qualifiers %}
            <div class="qualifier">
              {% for qualifier in claim.qualifiers %}
                <p>
                  {{ qualifier.property.label.text }} :
                  {% if qualifier.object %}
                    {{ qualifier.object.label.text }}
                  {% else %}
                    {{ qualifier.text }}
                  {% endif %}
                </p>
              {% endfor %}
              </div>
          {% endif %}

        </div>
        {% endfor %}
      {% endif %}
    {% endfor %}     
  </div>

  <div class="reverse-list">
    <div>
      <p data-active>What links here</p>
      <ul class="sub-list">
        {% for claim in reverse %}
          <li>
            <a class="property" href="/index/{{ claim.property.id[1:] }}">{{ claim.property.label.text }}</a>
            <a href="/item/{{ claim.subject.id[1:] }}"> 
              <span {% if claim.subject.type_id == 1 %}class="work-label"{% endif %}>
                {{ claim.subject.label.text }}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
  
{% endblock %}