{% extends 'base.html' %}

{# if all items are same type then don't show it #}
{% block body_class %}
  {% if instanceOf %}same-type{% endif %}
{% endblock %}

{% block body %}

<div class="items">

  <aside class="pagination">
    <ul>
      {% for page in range(paginator.page_count) %}
          {% set page = page + 1 %}
          {% if page != paginator.page %}
          <li class="page-item" id="page-{{ page }}"><a class="page-link" href="{{baseURL}}?page={{ page }}#page-{{ page }}">{{ page }}</a></li>
          {% else %}
          <li class="page-item" id="page-{{ page }}"><span class="page-link" data-active>{{ page }}</span></li>
          {% endif %}
      {% endfor %}
    </ul>
  </aside>

  <div class="item-list">
    {% for item in paginator.rows %}

    {% if not item.label %}
      {% set item = item.object %}
    {% endif %}

    {% set ns = namespace(is_work=false) %} 
    {% for claim in item.claims %}
      {% if claim.property.id == 'P1' %}
        {% if 'work' in claim.object.label.text %}
          {% set ns.is_work = true %}
        {% endif %}
      {% endif %}
    {% endfor %}
    
    <!-- what target _top does here is to open it on the parent window -->
    
    {% if ns.is_work %}
    <a href="/item/{{ item.id[1:] }}" target="_top">
      <article>
        <div class="line">
          <ul class="instanceOf sub-list">
          {% for claim in  item.claims %}
            {% if claim.property.id == 'P1' %}
            <li>
              {{ claim.object.label.text }}
            </li>
            {% endif %}
          {% endfor %}
          </ul>

          <ul class="contributor sub-list">
            {% for claim in  item.claims %}
              {% if claim.property.id == 'P9' %}
              <li>
                {{ claim.object.label.text }}
              </li>
              {% endif %}
            {% endfor %}
          </ul>

          <ul class="materiality sub-list">
            {% for claim in  item.claims %}
              {% if claim.property.id == 'P15' or claim.property.id == 'P15' %}
              <li>
                {{ claim.object.label.text }}
              </li>
              {% endif %}
            {% endfor %}
          </ul>
          
        </div>

        <div class="line">

          <h2><span class="label work-label">{{ item.label.text }}</span></h2>
          
          {# max 3 images #}
          {% if item.claims|selectattr('type', 'equalto', 'localMedia')|list|length > 0 %}
          <div class="images">
            {% for claim in (item.claims|selectattr('type', 'equalto', 'localMedia')|list)[:3] %}
            <img src="https://daap.bannerrepeater.org/wiki/Special:Redirect/file/{{ claim.text|fileOriginalURL }}?width=100&height=100" />
            {% endfor %}
            {% if item.claims|selectattr('type', 'equalto', 'localMedia')|list|length > 3 %}
            <div class="more-image">...</div>
            {% endif %}
          </div>
          {% endif %}

          {#
        {% set images = item.claims|selectattr('type', 'equalto', 'localMedia')|list %}
        {% if images|length > 0 %}
        <div class="images">
          {% for claim in images[:3] %}
            <img src="https://daap.bannerrepeater.org/wiki/Special:Redirect/file/{{ claim.text|fileOriginalURL }}?width=100&height=100" />
          {% endfor %}
          {% if images|length > 3 %}
            <div class="more-image">...</div>
          {% endif %}
          #}
  
          <p class="description">
            {{ item.description.text }}
          </p>

        </div>
      </article>
    </a>
      {% else %}
      <a href="/item/{{ item.id[1:] }}" target="_top" class="non-work">
        <article>
            <ul class="instanceOf sub-list">
              {% for claim in  item.claims %}
                {% if claim.property.id == 'P1' %}
                <li>
                  {{ claim.object.label.text }}
                </li>
                {% endif %}
              {% endfor %}
            </ul>
            <h2><span class="label">{{ item.label.text }}</span></h2>
            <p class="description">
              {{ item.description.text }}
            </p>
        </article>
      </a>
      {% endif %}

    {% endfor %}

  </div>

</div>


{% endblock %}
