{% extends 'base.html' %}

{% block title %}{{super()}} · {{ property.label.text }}{% endblock %}
{% block body_class %}header-main{% endblock %}

{% block body %}

{% set zone = 'group' %}
{% include 'partials/nav.html' %}

<header class="sub-header">
  <h1>items grouped by <span class="property" data-active>{{ property.label.text }}</span></h1>
  <p class="description">{{ property.description.text }}</p>
</header>

<div class="details-list">
  {% for count, claims in counted_claims %}
    <details>
      <summary>
        {% if claims.0.type == 'wikibase-item' %}
          <span class="label">{{ claims.0.object.label.text }}</span>
        {% else %}
          {{ claims.0.text }}
        {% endif %}
        ({{ count }})
      </summary>

      {% if claims.0.type == 'wikibase-item' %}
        <iframe data-src="/items/{{property.id[1:]}}/{{claims.0.object.id[1:]}}"></iframe>
      {% endif %}

    </details>
  {% endfor %}
</div>

<script src="/static/js/loading-frames.js"></script>

{% endblock %}