{% extends 'base.html' %}

{% block title %}{{super()}} · properties{% endblock %}
{% block body_class %}header-main{% endblock %}

{% block body %}

{% set zone = 'properties' %}
{% include 'partials/nav.html' %}

<header class="sub-header">
  <h1>All <span data-active>properties</span></h1>
</header>

<div class="property-list">
  {% for property in properties %}
    <a href="/property-group/{{ property.id[1:] }}" target="_top">
      <article>
        <h2 class="property">
          {{ property.label.text }}
        </h2>
        <div class="description">
          {{ property.description.text }}
        </div>
      </article>
    </a>
  {% endfor %}
</div>

{% endblock %}