<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reverse entity: {{ claims[0].sourceLabel }}</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 2ch;
    }

    .works {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2ch;
      row-gap: 2ch;
    }

    img {
      max-width: 100%;
    }
    
    header {
      grid-column-end: span 3;
      margin: 1ch 0 2ch;
      display: flex;
      column-gap: 1ch;
    }

    nav {
      display: flex;
      column-gap: 1ch;
    }

    nav a {
      color: inherit;
      text-decoration: none;
    }

    nav a[data-active] {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    LabEl
    <nav>
      <a href="/works" data-active>Works</a>
      <a href="/search">Search</a>
    </nav>
  </header>
  <a href="/entity/{{ id }}">Explore entity</a>
  <h1>Links to: {{ claims[0].sourceLabel }}</h1>
  <p>{{ claims[0].sourceDescription }}</p>
  <dl>
    {% for claim in claims %}
      <dt>
        {{ claim.propLabel }}
      </dt>
      <dd>
        {% if claim.wbtype == "http://wikiba.se/ontology#LocalMedia" %}
          <a href="{{ claim.value }}">
            <img src="{{ claim.value|fileOriginalURL }}">
          </a>
        {% elif claim.wbtype == "http://wikiba.se/ontology#WikibaseItem" %}
          <a href="/entity/{{ claim.value|extractItemID }}">
            {{ claim.valueLabel }}
          </a>
          {% if claim.valueDescription %}
          <br />
          {{ claim.valueDescription }}
          {% endif %}
        {% else %}
          {{ claim.valueLabel }}
        {% endif %}
        
      </dd>
    {% endfor %}
  </dl>
</body>
</html>