<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taxonomy: {{ taxa[0].propLabel }}</title>
  <style>
    body {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    header {
      grid-column-end: span 3;
      margin: 1ch 0 2ch;
      display: flex;
      column-gap: 1ch;
    }

    nav {
      display: flex;
      column-gap: 1ch;
    }

    nav a {
      color: inherit;
      text-decoration: none;
    }

    nav a[data-active] {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    LabEl
    <nav>
      <a href="/works">Works</a>
      <a href="/search">Search</a>
    </nav>
  </header>
  <aside>
    <form method="post" action="/search">
      <input type="submit" value="search"><br />
      Select works by:
      <details open>
        <summary>{{ taxa[0].propLabel }}</summary>
        <ul>
          {% for taxon in taxa %}
            <li>
              <label>
                <input type="checkbox" {% if taxon|inFilters(activeFilters) %}checked{% endif %} name="{{ taxon.prop }}" value="{{ taxon.value }}"> {{ taxon.valueLabel }}
              </label>
            </li>
          {% endfor %}
        </ul>
      </details>
      <input type="submit" value="search">
    </form>
  </aside>
  <main>
    {% for result in results %}
      <a href="{{ result.result|getInternalUrl }}">{{ result.resultLabel }}</a>
      {% if result.resultDescription %}
        <p>
          {{ result.resultDescription }}
        </p>
      {% endif %}
    {% endfor %}
  </main>
</body>
</html>