<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 2ch;
    }

    .works {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2ch;
      row-gap: 2ch;
    }

    img {
      max-width: 100%;
    }
    
    header {
      grid-column-end: span 3;
      margin: 1ch 0 2ch;
      display: flex;
      column-gap: 1ch;
    }

    nav {
      display: flex;
      column-gap: 1ch;
    }

    nav a {
      color: inherit;
      text-decoration: none;
    }

    nav a[data-active] {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    LabEl
    <nav>
      <a href="/works" data-active>Works</a>
      <a href="/search">Search</a>
    </nav>
  </header>
  <h1>Works</h1>
  <div class="works">
    {% for work in paginator.rows %}
    <article>
      <h2><a href="entity/{{ work.work|extractItemID }}">{{ work.workLabel }}</a></h2>
      {% if work.image %}
      <img src="{{ work.image|fileOriginalURL }}" />
      {% endif %}
      <p>
        {{ work.workDescription}}
      </p>
    </article>
    {% endfor %}
  </div>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_url }}">&lt; Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_url }}">Next &gt;</a>
  {% endif %}
</body>
</html>