{% extends "admin/base_site.html" %}
{% load i18n static admin_modify %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block content %}
  <h1>{% translate "Import claims for shallow entity" %}</h1>
  <p>
    {% blocktranslate %}
      Please confirm the import of claims from wikidata for shallow entity <strong>{{ entity }}</strong>.
    {% endblocktranslate %}
  </p>
  <div id="content-main">
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="identifier" value="{{ identifier }}">
      <div class="submit-row">
        <input type="submit" value="{% translate "Import claims" %}" class="default" name="_import">
        <a href="{{ url_cancel }}" class="closelink">{% translate 'Cancel' %}</a>
      </div>
    </form>
  </div>
{% endblock %}