{% extends "admin/base_site.html" %}
{% load i18n static admin_modify %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block content %}
  <h1>Import entity</h1>
  <p>
    Use this form to import an entity from wikidata.
  </p>
  <div id="content-main">
    <form method="post">
      {% csrf_token %}
      <fieldset class="module aligned">
        <div class="form-row field-identifier">
          <div>
            <div class="flex-container">
              <label class="required" for="id_identifier">Identifier:</label>
              <input type="text" name="identifier" class="vTextField" maxlength="250" required="" id="id_identifier">
            </div>
          </div>
        </div>
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="{% translate "Search" %}" class="default" name="_import">
      </div>
    </form>
  </div>
{% endblock %}