{% extends "admin/base_site.html" %}
{% load i18n static admin_modify admin_urls %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block content %}
  <h1>Import entity</h1>
  <p>
    Found the folowing item:
  </p>
  <div id="content-main">
    <form method="post" action="{{ url_action }}">
      {% csrf_token %}
      <input type="hidden" name="identifier" value="{{ identifier }}">
      <fieldset class="module aligned">
        <div class="form-row field-identifier">
          <div>
            <div class="flex-container">
              <label class="required" for="id_identifier">{% translate "Identifier" %}:</label>
              <div class="readonly">{{ identifier }}</div>
            </div>
          </div>
        </div>
      </fieldset>
      {% for translation in translations %}
      <fieldset class="module aligned">
        <h3>{% translate translation.language %}</h3>
        <div class="form-row field-identifier">
          <div>
            <div class="flex-container">
              <label>{% translate "Label" %}:</label>
              <div class="readonly">{{ translation.label }}</div>
            </div>
          </div>
        </div>
        <div class="form-row field-identifier">
          <div>
            <div class="flex-container">
              <label>{% translate "Description" %}:</label>
              <div class="readonly">{{ translation.description }}</div>
            </div>
          </div>
        </div>
      </fieldset>
      {% endfor %}
      <div class="submit-row">
        <input type="submit" value="{% translate "Import" %}" class="default" name="_import">
        <input type="submit" value="{% translate "Import and import another" %}" name="_importanother">
        <a href="{{ url_cancel }}" class="closelink">{% translate 'Back to search' %}</a>
      </div>
    </form>
  </div>
{% endblock %}