<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taxonomy: {{ taxa[0].propLabel }}</title>
</head>
<style>
  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    margin: 2ch;
  }
  
  header {
    margin: 1ch 0 2ch;
    display: flex;
    column-gap: 1ch;
  }

  nav {
    display: flex;
    column-gap: 1ch;
  }

  nav a {
    color: inherit;
    text-decoration: none;
  }

  nav a[data-active] {
    text-decoration: underline;
  }
</style>
<body>
  <header>
    LabEl
    <nav>
      <a href="/works">Works</a>
      <a href="/search">Search</a>
    </nav>
  </header>
  <h1>Taxonomy of: {{ taxa[0].propLabel }}</h1>
  <p>{{ taxa[0].propDescription }}</p>
  <ul>
    {% for taxon in taxa %}
      <li>
        {% if taxon.wbtype == "http://wikiba.se/ontology#LocalMedia" %}
          <a href="{{ taxon.value }}">
            <img src="{{ taxon.value|fileOriginalURL }}">
          </a>
        {% elif taxon.wbtype == "http://wikiba.se/ontology#WikibaseItem" %}
          <a href="/reverse/{{ taxon.value|extractItemID }}">
            {{ taxon.valueLabel }}
          </a>
          {% if taxon.valueDescription %}
          <br />
          {{ taxon.valueDescription }}
          {% endif %}
        {% else %}
          {{ taxon.valueLabel }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
</body>
</html>