{% load filters i18n %}


<div class="claims-list {% if reverse %}reverse-list{% endif %} {% if top %}top-list{% endif %}">

{% for grouped_claim in grouped_claims %}

    {# REMOVE URLS from main claim list #}
    {# remove empty instanceOf - when it only has "elit" without another specification #}
    {% if not grouped_claim.0.property.identifier in "P31" %}
        
        <div class="claim">

        
        {% if grouped_claim.0.type == 'wikibase-item' %}
        <a  class="property {% if grouped_claim.0.property.shallow %}shallow{% endif %}" 
            href="/entity/{{grouped_claim.0.property.identifier}}">
            {% if reverse %}As{% endif %} {{ grouped_claim.0.property.label }}
        </a>
        {% else %}
        <span>
            {% if reverse %}As{% endif %} {{ grouped_claim.0.property.label }}
        </span>
        {% endif %}
        

        {# the list of value contains work, then we use the templates of entities list with small items #}
        {% if 'Q173167' in grouped_claim|anyinstanceOfBad %}

        <div class="entity-index">
            {% for claim in grouped_claim %}
                {% include 'partials/item-small.html' with entity=claim.target %}
            {% endfor %}
        </div>

        {% else %}
        
        <div class="object-index">
            {% for claim in grouped_claim %}
                {% include 'partials/item-micro.html' with entity=claim.target claim=claim %}
            {% endfor %}
        </div>

        {% endif %}

        </div>
    {% endif %}

{% endfor %}
</div>
