{% load filters i18n %}

<div class="{% if entity.shallow %}shallow{% endif %}">
    {% if claim.type == 'wikibase-item' %}

        <a href="/entity/{{entity.identifier}}">
            <h2>
                <span class="label 
                {% if 'Q173167' in entity|instanceOfBad %}elit{% endif %}">
                {{ entity.label }}</span>
            </h2>
        </a>
        {% if entity.description %} 
            {% if claim.property.identifier == 'P50' or claim.property.identifier == 'P123' or claim.property.identifier == 'P767' %}
                <p class="description">{{ entity.description }}</p>
            {% endif %}
        {% endif %}
    
    {% else %}

        <p class="description">
            {% if claim.text|isDate %}
                {{ claim.text|asDate }}
            {% else %}
                {{ claim.text|urlize }}
            {% endif %}
        </p>

    {% endif %}

</div>