{% load filters i18n %}

<a href="/entity/{{ entity.identifier }}" target="_top" class="{% if entity.shallow %}shallow{% endif %}">
  <article>
      <h2 class="{% if entity.urls|length > 0 %}linked{% endif %}">
        <span class="label 
        {% if 'Q173167' in entity|instanceOfBad %}elit{% endif %}">
        {{ entity.label }}
        </span>
        
        {% if entity.instanceOf|length > 0 %}
        <ul class="instanceOf sub-list">
          {% for claim in entity.instanceOf %}
            {% if claim.object.identifier != 'Q173167' %}
            <li>{{ claim.object.label }}</li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}  
      </h2>

      {% if entity.contributors|length > 0 %}
      <ul class="contributor sub-list">
        {% for claim in entity.contributors %}<li>{{ claim.object.label }}</li>{% endfor %}
      </ul>
      {% else %}
      <span class="contributor empty">
        (this item does not have any authors yet)
      </span>
      {% endif %}

      {% if entity.description %}
      <p class="description">{{ entity.description }}</p>
      {% else %}
      <p class="description empty">{% translate "(this item does not have a description yet)" %}</p>
      {% endif %}

  </article>
</a>