{% load filters i18n %}

<a href="/entity/{{ entity.identifier }}" target="_top">

    <article>
      <div class="first">

        <ul class="instanceOf sub-list">
          {% if entity.instanceOf|length > 1 %}
          {% for claim in entity.instanceOf %}
            {% if claim.object.identifier != 'Q173167' %}
            <li>{{ claim.object.label }}</li>
            {% endif %}
          {% endfor %}
          {% else %}
            <li class="empty">this item does not have any forms yet</li>
          {% endif %}
        </ul>

        <h2 class="{% if entity.urls|length > 0 %}linked{% endif %}">
          <span class="label elit">{{ entity.label }}</span>
        </h2>

        {% if entity.description %}
          <p class="description">{{ entity.description }}</p>
        {% else %}
          <p class="description empty">
            this item does not have a description yet
          </p>
        {% endif %}
        
      </div>
      
      <div class="second">

        {% for p in synthesis_properties %}
        <div class="{% if entity|get:p.0|length == 0%}empty{% endif %}">
          <div class="property">{{ p.0 }}</div>
          <ul class="sub-list">
            {% for claim in entity|get:p.0 %}

              {% if claim.type == 'wikibase-item' %}

                <li>{{ claim.object.label }}</li>

              {% else %}

                <li class="description">
                    {% if claim.text|isDate %}
                        {{ claim.text|asDate }}
                    {% else %}
                        {{ claim.text|urlize }}
                    {% endif %}
                </li>
      
              {% endif %}
            
            {% endfor %}
          </ul>
        </div>
        {% endfor %}

      </div>
    </article>

</a>