{% load i18n filters %}

<header class="header">

    {# first the logo #}
    <h1 class="main-title"><a href="{% url 'index' %}" title="{% translate "LabEL: Laboratory for Electronic Literature" %}">La<span data-active>b<span class="el">El</span></span></a></h1>
    
    {# then a list of quick access links #}
    <nav>
      {% find_page "about" as about_page %}
      <a href="{% url 'page' about_page.slug %}">{{ about_page.title }}</a>

      <a href="{% url 'index' 'P31-Q173167' %}">{% translate "Index of Electronic Literature" %}</a>

      <form method="get" action="{% url 'index' 'P31-Q173167' %}">
        <span>Search</span>
        <input type="text" name="search_term" placeholder="{% translate "by term..." %}" {% if search_term %}value="{{ search_term }}"{% endif %}>
        <button class="arrow">→</button>
      </form>

      <form id="nav-value" method="get" action="/entity/{{properties.0.identifier}}" >
        {% translate "List all" %}
        <select id="select-value" class="property">
          {% for property in properties %}
            {% if property.identifier != 'P31' %}
              <option value="{{property.identifier}}">{{property.label}} ({{property.amount}})</option>
            {% endif %}
          {% endfor %}
        </select>
        <button id="button-value" class="arrow">→</button>
      </form>

      <script>
        let url = window.location.pathname;
        let select = document.getElementById('select-value');
        let form = document.getElementById('nav-value');
        let button = document.getElementById('button-value');

        select.addEventListener('input', function(){
          form.action = '/entity/' + select.value;
          button.click();
        });

        if(url.split('/')[1] == 'entity' ){
          let value = url.split('/')[2];
          let option = document.querySelector('option[value="'+value+'"]')
          option.setAttribute('selected','');
        }
      </script>
      
    </nav>

    {% get_available_languages as LANGUAGES %}
    {% get_current_language as current_language %}
    <form method="post" action="{% url 'set_language' %}" class="lang">{% csrf_token %}
      {% for code, name in LANGUAGES %}
      <label for="switch-{{ name }}"
            {% if current_language == code %}data-active{% endif %}>

      <input id="switch-{{ name }}" type="radio" name="language" value="{{ code }}" onchange="this.form.submit()"
             {% if current_language == code %}checked=""{% endif %}/>
        
        {{ code }}
      
      </label>
      {% endfor %}
    </form>
    
</header>