{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{block.super}} · About{% endblock %}
{% block body_class %}header-main{% endblock %}

{% block body %}

  {% include 'partials/nav.html' %}

  <header class="sub-header">
    <h1>{% translate "About" %}</h1>
  </header>

  <div class="page-content">
    <p>
      The Laboratory for Electronic Literature (LabEL) was founded in 2022 to investigate and archive
      electronic literature. The project is born out of a long-term partnership between
      <a href="https://www.kbr.be/">KBR</a> and the
      <a href="https://uclouvain.be/fr/instituts-recherche/ilc/cental">Center for Natural Language Processing (CENTAL) at UCLouvain.</a>
    </p>
    

    <h2>What is electronic literature?</h2>

    <p>A work of interactive fiction powered by Artificial Intelligence. A twitter account publishing random extracts from
      Moby Dick. A poem designed to erase itself after being read once. All of these works are part of the world of
      electronic literature.</p>
    
    
    <p>Electronic literature includes all <em>digital-born literary works in which the meaning and/or the aesthetics are
        closely linked to the affordances of digital media</em>. These works are multi-disciplinary and often
      disconcerting because they question our understanding of the concepts of ‘writing’ and ‘reading’.</p>

  </div>

{% endblock %}
