{% extends 'base.html' %}

{% load filters i18n %}


{# ========== BODY ========== #}

{% block body %}

<div class="index-container">
  
  {# pagination #}
  <aside class="pagination">
    <ul>
      {% for p in pages %}
          {% if p != page %}
          <li class="page-item" id="page-{{ p }}"><a class="page-link" href="?page={{ p }}#page-{{ p }}">{{ p }}</a></li>
          {% else %}
          <li class="page-item" id="page-{{ p }}"><span class="page-link" data-active>{{ p }}</span></li>
          {% endif %}
      {% endfor %}
    </ul>
  </aside>

  {# what type of list is it #}
  {% if elit %}

  <div class="elit-index">
    {% for entity in entities %}
      {% include 'partials/item-big.html' %}
    {% endfor %}
  </div>

  {% else %}

  <div class="entity-index">
    {% for entity in entities %}
      {% include 'partials/item-small.html' %}
    {% endfor %}
  </div>

  {% endif %}


</div>
{% endblock %}