{% extends 'base.html' %}

{% load filters i18n %}
{% block title %}{{block.super}} · {{ entity.label }}{% endblock %}

{% block body_class %}
  header-main
{% endblock %}

{# ========== BODY ========== #}

{% block body %}

{% include 'partials/nav.html' %}


{# --- ENTITY HEADER --- #}

<header class="sub-header {% if is_elit %}elit{% endif %}">

  <div>
    
    <div class="type-indicator">
      {% if 0 == entity.type and is_elit %}
  
        {% translate "Electronic Literature" %}
  
        <ul class="instanceOf sub-list">
          {% if instanceOf|length > 1 %}
          {% for object in instanceOf %}
            {% if object.identifier != 'Q173167' %}
            <li><a href='/index/P31-Q173167_P31-{{object.identifier}}'>{{ object.label }}</a></li>
            {% endif %}
          {% endfor %}
          {% endif %}
        </ul>
      {% elif 0 == entity.type %}
        ({% translate "Entity" %})
      {% else %}
        (Property)
        Listing all values
      {% endif %}
    </div>

    <h1>
      <span class="label {% if is_elit %}elit{% endif %} {% if 1 == entity.type %}property{% endif %}" data-active>
        {{ entity.label }}
      </span>
    </h1>

    {# if its an item description here in big #}
    {% if 0 == entity.type %}
      {% if entity.description %}
        <p class="description">{{ entity.description }}</p>
      {% else %}
        <p class="description empty">{% translate "(this item does not have a description yet)" %}</p>
      {% endif %}
    {% endif %}

  </div>

  <div class="wikidata">
      {% translate "Wikidata identifier:" %} <a target="_blank" href="https://www.wikidata.org/wiki/{% if 1 == entity.type %}Property:{% endif %}{{entity.wb_identifier}}">{{entity.wb_identifier}}</a>
      {% if entity.shallow %}
        <p>
          <span class="picto shallow">*</span>
          {% translate "This is a shallow copy. Lookup more data on Wikidata." %}
        </p>
      {% endif %}

      {# if its a property description here in small #}
      {% if 1 == entity.type %}
        {% if entity.description %}
          <p class="description"><span class="straight">Wikidata description:</span> {{ entity.description }}</p>
        {% else %}
          <p class="description empty">(this item does not have a description yet)</p>
        {% endif %}
      {% endif %}
  </div>

</header>

{# --- LISTING ALL THE CLAIMS --- #}

<div class="entity-container {% if entity.urls|length > 0 %}has-urls{% endif %}">
  
  {% if 0 == entity.type %}
    {# CLAIM AND REVERSE CLAIMS #}
    <div class="claims-container">
      {% if  top_grouped_claims|length > 0 %}
        <h3>main metadata</h3> 
        {% include 'partials/claims.html' with grouped_claims=top_grouped_claims top=1 %}
      {% endif %}
      {% if  grouped_claims|length > 0 %}
        <h3>other connections</h3>
        {% include 'partials/claims.html' with grouped_claims=grouped_claims %}
      {% endif %}
      {% if  text_grouped_claims|length > 0 %}
        <h3>text values</h3>
        {% include 'partials/claims.html' with grouped_claims=text_grouped_claims %}
      {% endif %}
      {% if  grouped_reverse_claims|length > 0 %}
        <h3>what links here</h3>
        {% include 'partials/claims.html' with grouped_claims=grouped_reverse_claims reverse=1 %}
      {% endif %}
    </div>
    
    {% if entity.urls|length > 0 %}
    {# IFRAME AND EXTERNAL URLS #}
    <div class="entity-frames external">
      <ul>
          {% for url in entity.urls %}  
            <li>
              <a href="{{ url.text }}" target="_blank"><span class="label">Open in new tab</span> <span class="url">{{ url.text }}</span></a>
                <object data="{{ url.text }}">
                  <div style="height:5px"></div>
                </object>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  {# list all value if property #}
  {% elif 1 == entity.type %}
    <iframe src="/entities/{{entity.pk}}"></iframe>
  {% endif %}
</div>

<script>
  let iframes = document.querySelectorAll('object')
  for(let iframe of iframes){
    iframe.addEventListener('load', function(){
      if (iframe.offsetHeight !== 5) {
        iframe.parentElement.classList.add('loaded');
      } else {
        iframe.parentElement.classList.add('not-loaded');
      }
    });
    iframe.addEventListener('error', function(){
      iframe.parentElement.classList.add('not-loaded');
    });
  }
</script>
{% endblock %}








