{% extends 'base.html' %}
{% load filters i18n %}

{% block body %}

  <div class="details-list">
    <div class="detail-container">
      {% for value in groups %}
        <details>
  
          <summary>
            <span class="label">{{ value.label }}</span>
          </summary>
    
          <iframe src="/entities/{{identifier}}-{{value.identifier}}"></iframe>
  
        </details>
      {% endfor %}
    </div>
  </div>

</div>

<script src="/static/js/loading-frames.js"></script>

{% endblock %}