{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{block.super}} · index{% endblock %}
{% block body_class %}header-main{% endblock %}

{% block body %}

  {% include 'partials/nav.html' %}

  <header class="sub-header">

    <div>
      <h1 class="index-title">
  
        {% if not subheader.search %}
          {% translate "All" %} 
        {% else %}
          {% translate "Searching for" %}
            {{subheader.search}}
          {% translate "in" %}
        {% endif %}
  
        {% for object in subheader.filter %}
          <span class="label elit" data-active>{{object.label}}</span>
        {% endfor %}
  
      </h1>
  
      <ul class="instanceOf sub-list">
        {% for object in instanceOf %}
          <li><a href='/index/P31-Q173167_P31-{{object.identifier}}'>{{ object.label }} ({{object.amount}})</a></li>
        {% endfor %}
      </ul>
    </div>

  </header>

  <iframe src="/entities/{{ query }}{% if search_term %}?search_term={{search_term}}{% endif %}"></iframe>

{% endblock %}
