{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{block.super}} · {{ title }}{% endblock %}
{% block body_class %}header-main{% endblock %}

{% block body %}

  {% include 'partials/nav.html' %}

  <header class="sub-header">
    <h1>{{ title }}</h1>
  </header>

  <div class="page-content">
    {{ content }}
  </div>

{% endblock %}
