{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{block.super}} · index{% endblock %}
{% block body_class %}header-main{% endblock %}

{% block body %}

  {% include 'partials/nav.html' %}

  <header class="sub-header">
    <h1>{% translate "Search results for" %} <span class="label" data-active>{{ search_term }}</span></h1>
  </header>

  <iframe src="{% url 'entities-search' search_term %}"></iframe>

{% endblock %}
