:root{
  /* 
    colors like goldenrod have a similar contrast on black and white
    making it both able to write in black on it
    and differentiate from white when highlighted

    GoldenRod
    Plum
    CadetBlue
    LightCoral
    DarkSeaGreen
    darkorange
  */
  --accent: GoldenRod;
  --grey: #eaeaea;
  --back: white;
  --text: black;

  --lh: 1.4;
  --lh-up: 1.15;

  /* 
  3 lines at 1em with lh of 1.4 should equal 
  2 lines of bigger fs with lh 1.1
  */
  --fs-up: calc(calc(var(--lh) * 1rem * 3) / calc(var(--lh-up) * 2));

  --space: 2ch;
  --small-space: 1ch;
  --border: 1px solid currentColor;
  --border-dotted: medium dotted currentColor;

  --header-h: 4rem;
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
    accent-color: cyan;
}
*::selection{
  background-color: cyan;
}
body {
  line-height: var(--lh);
  font-family: sans-serif;
  background-color: var(--back);
  color: var(--text);
}

/*  INTERACTIVITY */

a{
  color: inherit;
  text-decoration: none;
}

a:hover,
summary:hover{
  color: var(--accent);
}

/* basic stuff */

img {
  display: block;
  max-width: 100%;
}

h1, h2{
  margin: 0;
  font-size: var(--fs-up);
  line-height: var(--lh-up);
  max-width: 20em;
  font-weight: normal;
}
p{
  /* note that the max-width is also a 2/3 ratio, like the font-size */
  margin: 0;
  max-width: 30em;
}

iframe {
  display: block;
  border: none;
  width: 100%;
  min-height: 50vh;
}

@font-face {
  font-family: hersey-mono;
  src: url('fonts/HersheySans1_mono_441_84.ttf');
}
@font-face {
  font-family: ready;
  src: url('fonts/ReadyActive-Light.woff2');
}
.property{
  text-transform: lowercase;
  font-weight: normal !important;
  font-style: normal !important;

  font-size: 1.2em;
  font-family: hersey-mono !important;
  line-height: 0.9;
}

.work-label{
  display: inline-block;
}
.work-label::first-letter{
  border-color: black;
  font-family: ready;
  -webkit-text-stroke: thin currentColor;
  font-size: 2em;
  line-height: 0;
}

.description{
  font-family: serif;
  font-style: italic;
}
.qualifier{
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 0.825em;
  font-family: hersey-mono !important;
  opacity: 0.35;
}

*[data-active],
details[open] summary{
  background: var(--accent) !important;
  color: var(--text) !important;
}
.work-label[data-active]{
  background: linear-gradient(to right, var(--accent), transparent 8rem) !important;
}

/*  MAIN LAYOUT & HEADERS
    ----------------------------------------- */

body.header-main{
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

/* header */
.header{
  display: flex;
  align-items: center;
  column-gap: var(--space);

  box-sizing: border-box;
  border-bottom: var(--border);
  padding: var(--space);
  background-color: var(--back);
}
.main-title{
  margin: 0;
  font-size: var(--fs-up);
  line-height: var(--lh-up);
}
.main-title .el{
  font-family: ready;
  -webkit-text-stroke: thin currentColor;
  font-size: 2em;
  line-height: 0;
  margin-left: -0.03em;
}


nav {
  display: flex;
  column-gap: var(--space);
  align-items: baseline;
}
nav > a{
  border-bottom: var(--border);
  border-color: var(--accent);
}
nav select,
nav option{
  border: var(--border);
  border-color: var(--accent);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: var(--lh);
  padding: 0.25em;
  /* border-radius: 0.25em; */
  background-color: white;
}

/* sub-header */
.sub-header{
  display: flex;
  align-items: flex-end;
  gap: var(--space);

  box-sizing: border-box;
  background-color: var(--back);
  padding: var(--space);
  background-color: var(--grey);
  border-bottom: var(--border);
}

/* other parts grow */
body.header-main > *{
  height: 100%;
  overflow: auto;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

/*  PROPERTY GROUP INSIDE OF DETAILS
    ------------------------------------ */

.details-list details[open]{
  position: absolute;
  inset: 0;
  background-color: white;
}
.details-list:has(details[open]){
  overflow: hidden;
}
.details-list iframe{
  height: calc(100% - calc(var(--small-space) * 2) - calc(var(--lh) * 1em));
}
summary{
  cursor: pointer;
  padding: var(--small-space) var(--space);
  border-bottom: var(--border);
  border-bottom-style: dotted;
}
details[open] summary{
  border-bottom: none;
}

/*  ITEMS LISTS 
    ------------------------------------ */

.items {
  height: 100vh;
  overflow: auto;

  display: grid;
  grid-template-columns: auto 1fr;
}


.item-list{
  padding: var(--space);
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: var(--space);
}
.item-list > a:last-of-type article{
  border-bottom: none;
  padding-bottom: 0;
}

.item-list > a{
  flex: 0 0 100%;
}
.item-list article{
  padding-bottom: var(--small-space);
  border-bottom: var(--border);
}

.item-list .line{
  display: flex;
  gap: 0 var(--space);
  align-items: first baseline;
}
.item-list .line + .line{
  margin-top: var(--small-space);
  align-items: last baseline;
  justify-content: space-between;
}

.sub-list{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0 var(--small-space);
  list-style: none;
  flex-wrap: wrap;
}

.materiality {
  margin-left: auto;
  justify-items: flex-end;
  justify-content: flex-end;
}
.materiality li{
  background-color: var(--grey);
  white-space: nowrap;
}

.instanceOf{
  gap: 0;
}
.instanceOf li{
  outline: var(--border);
  outline-offset: -0.5px;
  padding: 0 0.2em;
}

.same-type .item-list .instanceOf{
  display: none;
}

.item-list .non-work h2{
  font-size: 1rem;
  line-height: var(--lh);
}
.item-list .non-work .line{
  gap: 0.2em;
}
.item-list > a.non-work{
  flex: 1 0 12em;
}
.item-list .non-work article{
  padding: 0;
  border-bottom: 0;
}
.item-list .non-work .line + .line{
  margin-top: 0;
  display: block;
}

/* images in items preview */

.title-cover{
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.item-list .images{
  display: flex;
  align-items: flex-end;
  gap: var(--small-space);
  margin-top: calc(var(--fs-up) * -1 * var(--lh-up));
  position: relative;
  z-index: -1;
}
.item-list .more-image{
  font-size: var(--fs-up);
  line-height: var(--lh-up);
}
.item-list img{
  /* take 3 line of text */
  height: calc(var(--fs-up) * 4 * var(--lh-up));
}

/*  PAGINATIONS 
    ------------------------------------ */

.pagination{
  height: 100vh;
  overflow: auto;

  position: sticky;
  z-index: 8;
  top: 0;
  box-sizing: border-box;
  padding: var(--space);
  border-right: var(--border);
  overflow: auto;
}
.pagination ul{
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination .page-link{
  display: block;
  width: 3ch;
  height: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--grey);
  text-decoration: none;
}
.pagination li{
  /* show two pages and half behind current one */
  scroll-margin: 10.5ch;
}

/*  PROPERTY LIST
    ------------------------------------ */

.property-list{
  padding: var(--small-space) var(--space);
}
.property-list article{
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--space);
  padding-bottom: var(--small-space);
  margin-bottom: var(--small-space);
}

/*  CLAIMS 
    ------------------------------------ */

.item-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.claims-list{
  padding: var(--small-space);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.claims-list::after{
  content: '';
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  border: var(--space) solid var(--back);
  pointer-events: none;
}

.claims-list > div{
  flex-grow: 1;
  outline: var(--border);
  outline-offset: -0.5px;
  padding: var(--small-space);
  outline-color: #e0e0e0;
}
.claims-list .description {
  max-width: 18rem;
}
.claims-list .values ul{
  padding-left: 0;
  margin: 0;
}
.claims-list .sub-list{
  gap: var(--small-space) var(--space);
}

.claims-list a:not(.property)::after{
  content: '→';
  color: var(--accent);
  font-family: sans-serif;
}
.reverse-list a:not(.property)::before{
  content: '← ';
  color: var(--accent);
  font-family: sans-serif;
}
.bull{
  color: var(--accent);
}

.media-list{
  background-color: var(--grey);
  border-left: var(--border);

  padding: var(--space);
  display: flex;
  gap: var(--small-space);
  flex-wrap: wrap;
  height: 100%;
  box-sizing: border-box;
}
.media-list img{
  max-width: 18rem;
}

.reverse-list{
  border-top: var(--border);
  grid-column: -1 / 1;
}
.reverse-list > div{
  padding: var(--space);
}
.reverse-list > div > :first-child{
  width: fit-content;
}

.reverse-list .sub-list{
  display: block;
  margin-top: var(--small-space);
}
.reverse-list .sub-list li{
  display: grid;
  grid-template-columns: 18rem 1fr;
  align-items: baseline;
  gap: 0 var(--small-space);

  margin-bottom: var(--small-space);
}
