<header class="header">
    <div class="main-title">La<span data-active>b<span class="el">El</span></span></div>
    <span>Explore by</span>
    <nav>

      <a href="/index/1/1">Work</a>

      <a href="/properties">Properties</a>

      <span id="nav-group">
        Items grouped by
        <select id="select-group" class="property">
          <option value="1">InstanceOf</option>
          <option value="15">Medium</option>
          <option value="16">Format</option>
          <option value="24">binding</option>
        </select>
        <a id="select-group-link" href="/property-group/1" style="visibility:hidden"></a>
        <script>
          let select_group = document.getElementById('select-group');
          let link_group = document.getElementById('select-group-link');
          select_group.addEventListener('input', function(){
            link_group.href = '/property-group/' + select_group.value;
            link_group.click();
          });
          // get current value from url
          let url = window.location.href;
          if(url.indexOf('property-group') != -1){
            let value = url.split('/').slice(-1);
            let option = document.querySelector('option[value="'+value+'"]')
            option.setAttribute('selected','');
            let span = document.getElementById('nav-group');
            // span.setAttribute('data-active','');
          }
        </script>
      </span>

      <span id="nav-values">
      Values for
      <select id="select-value" class="property">
        <option value="9">Creators / Contributors</option>
        <option value="10">Publisher</option>
        <option value="83">Location</option>
      </select>
      <a id="select-value-link" href="/index/9" style="visibility:hidden"></a>
      <script>
        let select = document.getElementById('select-value');
        let link = document.getElementById('select-value-link');
        select.addEventListener('input', function(){
          link.href = '/index/' + select.value;
          link.click();
        });
        if(url.split('/').slice(-2, -1) == 'index' ){
          let span = document.getElementById('nav-values');
          // span.setAttribute('data-active','');
          let value = url.split('/').slice(-1);
          let option = document.querySelector('option[value="'+value+'"]')
          option.setAttribute('selected','');
        }
      </script>
    </span>

    </nav>
    

</header>